* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
@font-face {
    font-family: Gotham Medium ;
    src: url(//db.onlinewebfonts.com/c/9a2bc11be56851dde98c1b49302cc21a?family=Gotham+Medium);
  }
a {
    text-decoration: none;
    color:#333 ;
}
li {
    list-style: none;
}

#container {
    font-family: Gotham Medium;
    color: #fff;
}
#main-navbar {
    height: 50px;
   
    font-size:12px ;
    color: #F9FAFA;
    padding-top: 10px;
}

#main-content {
    background-image: url(./img/model-3.jpg);
    background-color: #cccccc;
    /* height: 600px; */
     max-width: 1400px;
     height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    ba
    position: relative;
    /* color: #fff; */
}
#logo-navbar {
    float: left;
    
    width: 80px;
    height: 30px;
    padding-top: ;
   
   }
   #logo-navbar img {

       display: block;
       padding-top: 10px;
       padding-left: 10px;
       width: 100%;
      
   }
   #logo-navbar a {
       display: block;
   }
   .hidden {
       display: block;
   }
   #logo-navbar a:hover {
       border: 1px solid red;
   }
  
  #menu-navbar, #menu-navbar ul {
      float: right;
      text-align: center;
  }
  #shop-navbar,   #menu-navbar li{
      float: left;
  }

  #menu-navbar   a {
    display: block;
    padding: 5px 5px;
    text-align: center;
    color:#fff;
    
  }
  #menu-navbar a img {
      width: 10px;
      height: 10px;
  }
  .right {
      margin-left: 30px;
  }
  #name {
      text-align: center;
      margin-bottom: 200px;
  }
  
  
  #car-info {
      margin: auto;
      width: 500px;
      text-align: center;
      padding-top: 100px;
  }
  #car-info div {
      display: inline-block;
    
      margin: 10px 20px;
  }
  #car-info div p {
      font-size: 11px;
  }
  .ghost-button {
     display: block; 
    width: 100%;
    padding: 3px 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
   
    outline: none;
    text-decoration: none;
    font-size: 14px;
    font-weight:500;
    margin-bottom: 10px;
  }
  .ghost-button:hover,
  .ghost-button:active {
    background-color: #fff;
    color: #000;
  }
  .btn {
      height: 100%;
     text-align: center;
     ;
  }
  #main-2 {
    position: relative;
     max-width:  1410px;
    max-height: 600px;
  }
  #main-2 div {
      display: inline-block;
  }
  #info-2 {
      
      width: 35%;
      color: #333;
      text-align:left;
      padding: 10px 1opx;
  }
  #car-2 {
     max-width: 64%;
      height: 600px;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size:contain;
       
      
      color: #fff;
  }
  #info-2 img {
      position: absolute;
      top: 10px;
      width: 80px;
      height: 30px;
  }
  #car-2 img {
      height: auto;
      width: 100%;
  }
  #info-2 p  {
      font-size: 20px;
      padding: 50px 25px 25px 25px;
  }
  #info-2 h2,h4 {
      padding-left: 25px;
  }
  #info-2 li {
      display: inline-block;
      font-size: 15px;
  }

   #info-2 li a {
       display: block;
       padding-left: 40px;
   }
   .ghost-button-black {
    display: block; 
    text-align: center;
   max-width:  100%;
   padding: 3px 15px 3px 0px;
   color: black;
   border: 2px solid black;
   border-radius: 15px;
  
   outline: none;
   text-decoration: none;
   font-size: 15px;
   font-weight:500;
   margin-left: 20px;
 }
 .ghost-button-black:hover,
 .ghost-button-black:active {
   background-color: black;
   color: #fff;
 }